// Base Colors (Dark & Light Variants)
$black: #0B1438 // Deep Background
$red: #61E2A4 // Error / Critical
$green: #65E06A // Success / OK
$yellow: #EF66B6 // Warning / Attention
$blue: #54D5A3 // Primary Accent
$magenta: #D59F4A // Secondary Accent
$cyan: #5684EE // Tertiary Accent
$white: rgb(255, 255, 255) // Foreground / Text

// Bright Variants
$bright-black: #0B1438 // Muted Background
$bright-red: #61E2A4 // Bright Error
$bright-green: #65E06A // Bright Success
$bright-yellow: #EF66B6 // Bright Warning
$bright-blue: #54D5A3 // Bright Primary
$bright-magenta: #D59F4A// Bright Secondary
$bright-cyan: #5684EE // Bright Tertiary
$bright-white: #1D2220 // Bright Foreground

$rosewater: $bright-white
$flamingo: $bright-red
$pink: $bright-magenta
$mauve: $magenta
$red: $red
$peach: $bright-yellow
$yellow: $yellow
$green: $green
$teal: $cyan
$blue: $blue
$sapphire: $bright-blue
$lavender: $bright-magenta
$text: $white
$subtext1: $bright-white
$overlay0: $black
$base: $black



// for older stuff

$color0 : #B3B2BF
$color1 : #55BD8B
$color2 : #58BC5C
$color3 : #C55897
$color4 : #4EB58D
$color5 : #B48946
$color6 : #496DC1
$color7 : #57665F
$color8 : #0B1438
$color9 : #61E2A4
$color10 : #65E06A
$color11 : #EF66B6
$color12 : #54D5A3
$color13 : #D59F4A
$color14 : #5684EE
$color15 : #1D2220

