

@define-color background #f8faf0;

@define-color error #ba1a1a;

@define-color error_container #ffdad6;

@define-color inverse_on_surface #eff2e8;

@define-color inverse_primary #a8d292;

@define-color inverse_surface #2e312b;

@define-color on_background #191d17;

@define-color on_error #ffffff;

@define-color on_error_container #410002;

@define-color on_primary #ffffff;

@define-color on_primary_container #052100;

@define-color on_primary_fixed #052100;

@define-color on_primary_fixed_variant #2c4f1d;

@define-color on_secondary #ffffff;

@define-color on_secondary_container #131f0d;

@define-color on_secondary_fixed #131f0d;

@define-color on_secondary_fixed_variant #3d4b36;

@define-color on_surface #191d17;

@define-color on_surface_variant #43483f;

@define-color on_tertiary #ffffff;

@define-color on_tertiary_container #002021;

@define-color on_tertiary_fixed #002021;

@define-color on_tertiary_fixed_variant #1e4e4f;

@define-color outline #73796e;

@define-color outline_variant #c3c8bb;

@define-color primary #436833;

@define-color primary_container #c4efac;

@define-color primary_fixed #c4efac;

@define-color primary_fixed_dim #a8d292;

@define-color scrim #000000;

@define-color secondary #55624c;

@define-color secondary_container #d8e7cb;

@define-color secondary_fixed #d8e7cb;

@define-color secondary_fixed_dim #bccbb0;

@define-color shadow #000000;

@define-color source_color #edf0e5;

@define-color surface #f8faf0;

@define-color surface_bright #f8faf0;

@define-color surface_container #ecefe5;

@define-color surface_container_high #e7e9df;

@define-color surface_container_highest #e1e4da;

@define-color surface_container_low #f2f5ea;

@define-color surface_container_lowest #ffffff;

@define-color surface_dim #d8dbd1;

@define-color surface_tint #436833;

@define-color surface_variant #dfe4d7;

@define-color tertiary #386667;

@define-color tertiary_container #bbebec;

@define-color tertiary_fixed #bbebec;

@define-color tertiary_fixed_dim #a0cfd0;

