
$color0: {{color0}} // Black
$color1: {{color1}} // Red
$color2: {{color2}} // Green
$color3: {{color3}} // Yellow
$color4: {{color4}} // Blue
$color5: {{color5}} // Magenta
$color6: {{color6}} // Cyan
$color7: {{color7}} // White
$color8: {{color8}} // Bright Black
$color9: {{color9}} // Bright Red
$color10: {{color10}} // Bright Green
$color11: {{color11}} // Bright Yellow
$color12: {{color12}} // Bright Blue
$color13: {{color13}} // Bright Magenta
$color14: {{color14}} // Bright Cyan
$color15: {{color15}} // Bright White

$background: {{background}} // Background
$foreground: {{foreground}} // Foreground

